<?xml version="1.0" encoding="UTF-8"?>
<module id="7020" version="2014041802">
  <modulename>questionnaire</modulename>
  <sectionid>1264</sectionid>
  <sectionnumber>6</sectionnumber>
  <idnumber></idnumber>
  <added>1531405601</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availablefrom>0</availablefrom>
  <availableuntil>0</availableuntil>
  <showavailability>1</showavailability>
  <showdescription>0</showdescription>
  <availability_info>
  </availability_info>
</module>